@font-face {
    font-family: 'Titillium Web';
    src: url('../assets/fonts/titillium_web/TitilliumWeb-Regular.ttf');
}

.back {
    position: absolute;
    margin: 1em 1em;
    z-index: 9999;
}

body {
    font-family: Titillium Web;
    min-width: 1200px;
}

.all-repos {
    overflow: auto;
    overflow-y: hidden;
    width: 100%;
    padding: 0 3%;
}

.big-search {
    margin: 44vh 25vw;
    position: absolute;
}

.big-title {
    margin-bottom: 1.2em;
}

.biggest-repos {
    border: 2px solid lightgray;
    display: inline-block;
    font-size: 2em;
    height: calc(1.2em + 400px + 2.2em);
    min-width: 400px;
    padding: 1em 1em;
}

.btn-search {
    background-color: #f8a543;
    width: 120px;
}

.btn-search:focus {
    background-color: #E29F50;
    outline: none;
}
.btn-search:hover {
    background-color: #E29F50;
}

.commits {
    margin-left: 10vw;
    margin-right: 10vw;
}

.doughnut-head {
    text-align: center;
    font-size: 2.2em;
    margin-bottom: 1em;
}

.full-name {
    font-size: 3em;
    margin-top: -10px;
    color: white;
    text-shadow: 1px 1px #000000;
}

.graphs {
    background-color: lightgrey;
    display: none;
    min-width: 1200px;
    position: absolute;
    width: 100%;
    padding: 0 0;
    position: relative;
}

.headstuff {
    font-family: Titillium Web;
    font-size: 1.8em;
    color: white;
    position: absolute;
    margin: 28vh 29vw;
}

.ind-repo-0-bits {
    float: right;
}

.ind-repo-1-bits {
    float: right;
}

.ind-repo-2-bits {
    float: right;
}

.languages-doughnut {
    float: right;
    display: inline-block;
}


#loader {
    width: 20vw;
    font-size: 4em;
    position: absolute;
    top: 20vh;
    margin-left: 40vw;
}

.loader {
    font-size: 2.5em;
    margin-top: 28vh;
    margin-left: 38vw;
}

.logo {
    position: absolute;
    text-shadow: 1px 1px #000000;
    font-size: 6em;
    color: white;
    margin: 10vh 41vw;
    text-align: center;
}



.num-repos {
    font-size: 1.9vw;
    color: black;
}

.num-commits {
    font-size: 1.9vw;
    color: black;
}

.num-bytes {
    font-size: 1.9vw;
    color: black;
}

.OCTOCAT {
    position: absolute;
    margin: 60vh 0 0 40vw;
}

.prof {
    width: 180px;
    height: 180px;
    display: absolute;
    margin: 8vh auto;
    border: 5px solid white;
    border-radius: 100px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
}

.repo-0 {
    padding-left: 15px;
    margin-bottom: 1em;
}
.repo-1 {
    padding-left: 15px;
    margin-bottom: 1em;
}
.repo-2 {
    padding-left: 15px;
    margin-bottom: 1em;
}

.repos, .commits, .lines {
    width: 12vw;
    height: 5.5vw;
    padding-top: 0.5vw;
    padding-bottom: 0.25vw;
    margin-top: 30px;
    color: #717171;
    font-size: 1.5vh;
    float: left;
    background-color: white;
}

.repos {
}

.searchbar {
    height: 4em;
}

.search-text {
    width: 40vw;
}

.smaller {
    display: inline;
    font-size: 60%;
}

.splash {
    z-index: 9999;
    background-image: url('../assets/img/Background.png');
    background-size: 100% 82%;
    background-repeat: no-repeat;
    position: absolute;
    height: 100%;
    width: 100%;

}

.top-header {
    top: 0;
    height: 80vh;
    background-image: url('../assets/img/Background2.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    margin-bottom: 50px;
    position: relative;
    text-align: center;
}

.week {
    text-align: center;
}

.week-avg {
    width: 100%;
    text-align: center;
    font-size: 50px;
    font-weight: strong;

}

#weekday-dist {
    width: 1000px;
    height: 400px;
    padding-bottom: 20px;
}

.white {
    background-color: white;
}
