@font-face {
    font-family: 'Titillium Web';
    src: url('../assets/fonts/titillium_web/TitilliumWeb-Regular.ttf');
}

body {
    font-family: Titillium Web
}
.big-search {
    margin: 44vh 25vw;
    position: absolute;
}

.big-title {
    margin-bottom: 1.2em;
}

.biggest-repos {
    float: left;
    font-size: 2em;
    margin-left: 140px;
    margin-top: 50px;
    width: 38vw;
    border: 2px solid lightgray;
    padding: 1em 1em;
}

.btn-search {
    background-color: #f8a543;
    width: 120px;
}

.btn-search:focus {
    background-color: #E29F50;
    outline: none;
}
.btn-search:hover {
    background-color: #E29F50;
}

.doughnut-head {
    text-align: center;
    font-size: 2.2em;
    margin-bottom: 1em;
}

.full-name {
    font-size: 3em;
    margin-top: -10px;
    color: white;
    text-shadow: 1px 1px #000000;
}

.graphs {
    display: none;
    position: absolute
    width: 100vw;
}

.headstuff {
    font-family: Titillium Web;
    font-size: 1.8em;
    color: white;
    position: absolute;
    margin: 28vh 29vw;
}

.ind-repo-0-bits {
    float: right;
}

.ind-repo-1-bits {
    float: right;
}

.ind-repo-2-bits {
    float: right;
}

.languages-doughnut {
    float: right;
    margin-left: 10vw;
    margin-right: 16vw;
    margin-top: 8vh;
    margin-bottom: 14vh;
}

#loader {
    width: 20vw;
    font-size: 4em;
    position: absolute;
    top: 20vh;
    margin-left: 40vw;
}

.loader {
    font-size: 2.5em;
    margin-top: 28vh;
    margin-left: 38vw;
}

.logo {
    position: absolute;
    text-shadow: 1px 1px #000000;
    font-size: 6em;
    color: white;
    margin: 10vh 41vw;
    text-align: center;
}

.repo-0 {
    padding-left: 15px;
    margin-bottom: 1em;
}
.repo-1 {
    padding-left: 15px;
    margin-bottom: 1em;
}
.repo-2 {
    padding-left: 15px;
    margin-bottom: 1em;
}

.repos, .commits, .lines {
    width: 200px;
    height: 120px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 20px;
    margin-top: 30px;
    color: #717171;
    font-size: 1.5em;
    float: left;
    background-color: white;
}

.repos {
    margin-left: 16vw;
}

.commits {
    margin-left: 10vw;
    margin-right: 10vw;
}

.num-repos {
    font-size: 35px;
    color: black;
}

.num-commits {
    font-size: 35px;
    color: black;
}

.num-lines {
    font-size: 35px;
    color: black;
}

.OCTOCAT {
    position: absolute;
    margin: 60vh 0 0 40vw;
}

.prof {
    width: 180px;
    height: 180px;
    display: absolute;
    margin: 8vh 42vw;
    border: 5px solid white;
    border-radius: 100px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
}

.searchbar {
    height: 4em;
}

.search-text {
    width: 40vw;
}
@media (min-width: 768px)
.form-inline .form-control {
    width: 40vw;
}

.splash {
    z-index: 9999;
    background-image: url('../assets/img/Background.png');
    background-size: 100% 82%;
    background-repeat: no-repeat;
    position: absolute;
    height: 100%;
    width: 100%;

}

.top-header {
    top: 0;
    height: 80vh;
    background-image: url('../assets/img/Background2.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    margin-bottom: 50px;
    position: relative;
    text-align: center;
}

.week {
    text-align: center;
    margin-top: 200px;
}

#week-dist {
    margin-top: 400px;
}
.week-avg {
    margin-right: 22vw;
    margin-left: 22vw;
    position: absolute;
    margin-top: 300px;
    width: 700px;
    text-align: center;
    font-size: 50px;
    font-weight: strong;

}
